{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Maintenance{% endblock %}
{% block stylesheets %} {{parent()}} {% endblock %}
{% block navbar %} {{parent()}} {% endblock %}
{% block body %}




<h1>Le Site est actuellement en maintenance</h1>
<p>Pour plus d'information veuillez appellé le 03 20 34 56 88</p>
{% endblock %}
